* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 1.3rem;
  color: #fff;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(197deg, rgba(2, 0, 36, 1) 0%, rgba(55, 67, 223, 0.4066001400560224) 47%, rgb(5, 224, 53) 100%);
}

input.displayBox {
  width: 100%;
  text-align: end;
  padding: 20px 0;
  background-color: #858693;
  color: #fff;
  padding-right: 2px;
  border: none;
}

.button {
  padding: 20px 40px;
  border: none;
  width: 100%;
  background-color: #e0e0e0;
  cursor: pointer;
}

.secondColor {
  background-color: #3ef575;
}

.title {
  font-weight: 600;
  font-size: 2rem;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 10px 5%;
}

.navList {
  display: flex;
  gap: 0 20px;
  list-style-type: none;
  flex-wrap: wrap;
}

.subTitle {
  margin: 10px 5%;
  font-weight: 600;
  font-size: 1.5rem;
}

.home > p {
  margin: 10px 5%;
}

.quote {
  display: flex;
  flex-direction: column;
  margin: 0 5%;
}

.calContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10%;
}
