* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
  font-size: large;
}

body {
  min-height: 100vh;
}

.displayBox {
  width: 100%;
  text-align: end;
  padding: 20px 0;
  background-color: #858693;
  color: #fff;
  padding-right: 2px;
  border: none;
}

.button {
  padding: 20px 40px;
  border: none;
  width: 100%;
  background-color: #e0e0e0;
  cursor: pointer;
}

.orange {
  background-color: #f5913e;
}
